extends template 

block head
  link(rel='stylesheet' href='/stylesheets/layout.css')
  block headitems

block nav
  block navitems

block main
  div(class="section group" id="search_flight_container")
    div(class="col span_4_of_8" id="search_form_container")
      h1 Search for different flight
      form(id="search_form" action="/results" method="get")
        div(class="section group inputs" id="input1")
          div(class="col span_2_of_8")
            label Airline
          div(class="col span_2_of_8 input")
            input(list="airlines" id="airline" name="airline" placeholder="Select airline" autocomplete="off")
            datalist(id="airlines")
              option(value="FR Ryanair")
              option(value="TP TAP Portugal")
          div(class="col span_1_of_8")
            label Date
          div(class="col span_2_of_8 input right")
            input#date(type="date" name="date" value=`${date}` min=`${date}`)
        div(class="section group inputs" id="input2")
          div(class="col span_2_of_8")
            label Flight number
          div(class="col span_2_of_8 input")
            input#number(type="text" name="fNumber" autocomplete="off")
          div(class="col span_2_of_8 input right")
            input#search_button(type="submit" value="Search")
    div(class="col span_4_of_8" id="flight_details_container")
      h1 Your flight details
      div(class="section group" id="flight_details_main")
        div(class="col span_1_of_8 center" id="image_container")
          p#image= flight.airline
        div(class="col span_1_of_8 vert" id="dep_container")
          p#depT= flight.departureTime
          p#depAP= flight.departureAirportCode
        div(class="col span_2_of_8 center line")
          #line
        div(class="col span_1_of_8 center" id="fn_container")
          p#fNumber= flight.flightNumber
        div(class="col span_2_of_8 center line")
          #line
        div(class="col span_1_of_8 vert" id="arr_container")
          p#arrT= flight.arrivalTime
          p#arrAP= flight.arrivalAirportCode
  block maincontent